@using EALFramework.Models;
@using Chart.Mvc;
@using Chart.Mvc.Extensions;
@using Chart.Mvc.ComplexChart;
@using AquariumArduinoWeb.Models;

@model WaterSensorModel

<script src="~/Scripts/Chart.js"></script>

<h2>Tank 1 Water Sensors</h2>
<h3 style="color:steelblue">PH: @Model.PHModel.CurrentPH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daily Avg: @Model.PHModel.DailyPH</h3>
<h3 style="color:darkorange">TDS: @Model.TDSModel.CurrentTDS&nbsp;&nbsp; &nbsp;&nbsp;Daily Avg: @Model.TDSModel.DailyTDS</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div style="font-weight:bold;text-align:center" class="panel-heading">Hourly PH</div>
            <div class="panel-body">
                
                    @{
                        var phChart = new LineChart();
                        phChart.ComplexData.Labels.AddRange(Model.PHModel.SampleDate);
                        phChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
        {
        new ComplexDataset
            {
                Data = Model.PHModel.PHVal,
                Label = @Model.Frequency.GetType().Name,
                FillColor = "rgba(70,130,180,0.2)",
                StrokeColor = "rgba(70,130,180,1)",
                PointColor = "rgba(70,130,180,1)",
                PointStrokeColor = "#fff",
                PointHighlightFill = "#fff",
                PointHighlightStroke = "rgba(70,130,180,1)",
        }
    });
                    }
                    <canvas id="phCanvas" width="500" height="400"></canvas>
                    @Html.CreateChart("phCanvas", phChart)
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div style="font-weight:bold;text-align:center" class="panel-heading">Hourly TDS</div>
            <div class="panel-body">
              
                    @{
                        var tdsChart = new LineChart();
                        tdsChart.ComplexData.Labels.AddRange(Model.TDSModel.SampleDate);
                        tdsChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
        {
        new ComplexDataset
            {
                Data = Model.TDSModel.TDSVal,
                Label = "TDS",
                FillColor = "rgba(255,140,0,0.2)",
                StrokeColor = "rgba(255,140,0,1)",
                PointColor = "rgba(255,140,0,1)",
                PointStrokeColor = "#fff",
                PointHighlightFill = "#fff",
                PointHighlightStroke = "rgba(255,140,0,1)",
        }
      
    });
                    }
                    <canvas id="tdsCanvas" width="500" height="400"></canvas>
                    @Html.CreateChart("tdsCanvas", tdsChart)
                
               
            </div>
        </div>
    </div>
</div>





@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@